* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  --text: #151951;
  --line: rgb(180, 210, 218);
  --background: rgb(255, 255, 255);
  --list: url(../assets/svg/list-item-light.svg);
}

@media (prefers-color-scheme: dark) {
  html {
    --text: #FFFFFF;
    --line: #425964;
    --background: #011c1f;
    --list: url(../assets/svg/list-item-dark.svg);
  }
}

html,
body {
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  font-family: 'Barlow', sans-serif;
  font-size: 17px;
  letter-spacing: 0.5px;
  line-height: 28px;
  color: var(--text);
  font-weight: 500;
  margin: 0;
  background-color: var(--background);
}

main[id=pages] {
  margin: 2em 0;
}

h1,
h2,
h3 {
  font-family: 'Barlow', serif;
  font-weight: 600;
}

h1 {
  font-size: 38px;
	line-height: 46px;
}

@media (min-width: 700px) {
  h1 {
    font-size: 38px;
    line-height: 46px;
  }
}

h2 {
  font-size: 34px;
	line-height: 42px;
}

h3 {
  font-size: 28px;
	line-height: 36px;
}

a {
  text-decoration: none;
  padding-bottom: 0.1em;
  border-bottom: 1px dashed coral;
}

a:link,
a:visited {
  color: var(--text);
}

li {
  padding: 0.25em 0;
  margin: auto;
  list-style: var(--list);
}

.hidden {
  display: none;
}
